header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:grey;
    color: white;
    padding: 20px;
}

.logo {
    order: 2;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    color: black;
}

nav ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin-right: 20px;
}